.selectBox {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    
    select {
       
        max-height: 3rem;
        height: 3rem;
        margin-top: 0.625rem;
        color:#343A40;
        border: 2px solid #F8F9FA;
        padding-left: 0.625rem;
    }
}